html,
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
}

#root{
    display: flex;
    min-width: 100vw !important;
    min-height: 100vh;
    flex-direction: column;
}

.loading{
    justify-content: center;
}

.loading img{
    width: 200px;
    height: 200px;    
}

section {
    margin: 0;
    padding: 0;
    min-width: 100vw !important;
    display: flex;
    background-color: #ffffff;
    color:rgb(63, 63, 63);
}

.title{
  background: url('/img/bg_2.jpg') center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#fff;
  height: 30vh !important;
}

.title h1{
    font-size: 2em;
    margin:8vh 0 0 0;
    background-color: #fff;
    padding-left: 5px;
    color:#333;
}

.title h1 strong{
    background-color: rgb(45, 116, 209);
    padding:0 5px;
    color:#fff;
}

.title h5{
    margin:0;
    padding:0;
}

form{
    display:flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: #ffffff;
    color:#333;
    font-size: .8em;
}

form div{
    display:flex;
    flex-direction: row;
}

form h5{ 
    display:flex;
    font-size:1em;
    align-self: left;
    color:#5b84fb;
    margin:0;
    margin-top: 5px;
}

form input{
    width: 80vw;
    height: 5vh;
    //padding:0;
    border:0;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color:rgb(61, 61, 61);
    margin:0vh 10vw;
    text-transform: uppercase;
    text-align: center;
}

form label{
    padding: 0;
    margin:2vh 0 0 0;
    font-weight: bold;
}

form button{
    height: 46px;
    width:40vw;
    background-color: #187bd8;
    color:#fff;
    border: 2px solid #187bd8;
    cursor:pointer;
    margin: 2vh 4vw;
    align-self: center;
    /* border-radius: 10px; */
}

.results{
    flex-direction: column;
    color:#333;
    background-color: #fff;
    
}

.results h2{
    display:flex;
    align-self: left;
    color:#5b84fb;
    margin:0;
}

.results ul{
    margin:5px;
    /* border: 2px solid #000; */
    align-content: center;
}

.results li{
    font-size: 0.8em;
    list-style: none;
    margin-top:1vh;
    align-items: center;
    display: flex;
}

.results li strong{
    margin-right: 5px;    
}

.showNotMobile{
    display:hidden;
}

.weatherDetails{
    //border-top: 1px solid rgb(231, 231, 231);
    margin:0;
}

.weatherDetails ul{
    padding:0;
}

.weatherDetails h2{
    justify-content: center;
}

.weatherDetails ul li{
    justify-content: center;
}

.error{
    margin-top:10vh;
    align-self: center;
    background: #484848;
    color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
}

.animateHideForm{
    animation-name: hide-animate;
    animation-duration: 1s;
    position:relative;
    right:400px;
    opacity:0;
    z-index:0;
    
}

@keyframes hide-animate{
    from{
        position:relative;
        right: 0px;
        opacity:1;
    }
    to{
        position:relative;
        right:200px;
        opacity:0;
    }
}

.animateShowDetails{
    animation-name: showDetails-animate;
    animation-duration: 1s;
    position:relative;
    top: 10px;
        opacity:1;
        z-index:1000;
}

@keyframes showDetails-animate{
    from{
        position:relative;
        top: 1000px;
        opacity:0;
    }
    to{
        position:relative;
        top: 10px;
        opacity:1;
    }
}

/* @media screen and (min-width: 600px) {
    header,footer{
        height: 15vh;
        background-color:yellowgreen;
    }
} */

@media screen and (min-width: 768px) {

    #root {
        flex-direction: row;
    }

    section {
        min-width: 30vw !important;
        min-height: 100vh!important;
    }
    
    .title{
      background: url('/img/bg_2.jpg') right;
      background-size: cover;
        flex-direction: column;
      color:#fff;
      min-width: 70vw !important;
    }
    
    .title h1{
        font-size:3em;
        color:#333;
        background-color: #fff;
        padding-left: 5px;
    }

    .title h1 strong{
        background-color: rgb(45, 116, 209);
        padding:0 5px;
        color:#fff;
    }
    
    form{
        display:flex;
        flex-direction: column;
        padding: 20px;
        background-color: #fff;
    }
    
    form div{
        display:flex;
        flex-direction: row;
        margin-top: 10px;
    }
    
    form h5{ 
        display:flex;
        font-size:1.6em;
        align-self: center;
        color:#5b84fb;
        margin:4vh;
    }
    
    form input{
        width: 30vw;
        height: 30px;
        margin:0vh 1vw;
        padding: 5px;
    }
    
    form label{
        margin: 10px;
        font-weight: bold;
    }
    
    form button{
        width:12vw;
        border-radius: 0px;
        margin: 20px 0 0 10px;
    }

    
    .results h2{
        display:flex;
        text-transform: uppercase;
        align-self: center;
        color:#5b84fb;
    }
    
    .results li{
        font-size: 1em;
        margin-left:20px;
        margin-top:15px;
    }
    
    .results li strong{
        margin-right: 15px;
    } 

    .showNotMobile{
        display:flex;
    }

    .weatherDetails{
        //border-top: 1px solid #ccc;
        padding-top:5vh;
    }
}