html,
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #10435a;
}

#root {
    display: flex;
    min-width: 100vw !important;
    min-height: 100vh;
    flex-direction: column;
}

section {
    margin: 0;
    padding: 0;
    min-width: 100vw !important;
    display: flex;
    background-color: #073a51;
    color:#fff;
}

.title{
  background: url('/img/bg.jpg') ;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#fff;
  height: 20vh !important;
}

.title h1{
    font: size 2em;
    margin:0;
    padding:0;
}

.title h5{
    margin:0;
    padding:0;
}

form{
    display:flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: #10435a;
}

form div{
    display:flex;
    flex-direction: column;
}

form h5{ display:none;}

form input{
    width: 80vw;
    border:0;
    border-bottom: 2px solid #4b649d;
    background-color: #10435a;
    color:#fff;
    margin:0vh 10vw;
    text-transform: uppercase;
    text-align: center;
}

form label{
    margin:2vh 0;
    font-weight: bold;
}

form button{
    height: 46px;
    width:60vw;
    background-color: #4b649d;
    color:#fff;
    border: 2px solid #4b649d;
    cursor:pointer;
    margin: 2vh 4vw;
    align-self: center;
    border-radius: 20px;
}

.results{
    flex-direction: column;
    color:#fff;
    background-color: #092938
}

.results h2{
    display:none;
}

.results li{
    font-size: 0.8em;
    list-style: none;
    margin-top:1vh;
    align-items: center;
    display: flex;
}

.results li strong{
    margin-right: 5px;    
}

.showNotMobile{
    display:hidden;
}

/* @media screen and (min-width: 600px) {
    header,footer{
        height: 15vh;
        background-color:yellowgreen;
    }
} */

@media screen and (min-width: 768px) {

    #root {
        flex-direction: row;
    }

    section {
        min-width: 30vw !important;
        min-height: 100vh!important;
    }
    
    .title{
      background: url('/img/bg_2.jpg') ;
      background-size: cover;
        flex-direction: column;
      color:#092938;
      min-width: 70vw !important;
    }
    
    .title h1{
        font-size:3em;
    }
    
    form{
        display:flex;
        flex-direction: column;
        padding: 20px;
        background-color: #10435a;
    }
    
    form div{
        display:flex;
        flex-direction: row;
    }
    
    form h5{ 
        display:flex;
        font-size:1.6em;
        align-self: center;
    }
    
    form input{
        width: 30vw;
        height: 20px;
        margin:0vh 1vw;
        padding: 5px;
    }
    
    form label{
        margin-left: 10px;
        font-weight: bold;
    }
    
    form button{
        margin-left: 20px;
        width:20vw;
        border-radius: 0px;
    }
    
    .results h2{
        display:flex;
        text-transform: uppercase;
        align-self: center;
    }
    
    .results li{
        font-size: 1em;
        margin-left:20px;
        margin-top:15px;
    }
    
    .results li strong{
        margin-right: 15px;
    } 

    .showNotMobile{
        display:flex;
    }
}