html,
body
    {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

#root {
    display: flex;
    min-width: 100vw !important;
    min-height: 100vh;
}

section {
    margin: 0;
    padding: 0;
    min-width: 50vw !important;
    min-height: 100vh!important;
    display: flex;
    background-color: #073a51;
    color:#fff;
}

.title{
  background: url('/img/bg.jpg') ;
  background-size: contain;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#092938;
}

.title h1{
    font-size:3em;
}

form{
    padding: 20px;
    background-color: #10435a;
}

form label{
    margin-left: 10px;
}

form input{
    width: 140px;
    border:0;
    border-bottom: 2px solid #4b649d;
    background-color: #10435a;
    color:#fff;
    margin-left:5px;
    text-transform: uppercase;
}

form label{
    font-weight: bold;
}

form button{
    height: 46px;
    background-color: #4b649d;
    color:#fff;
    border: 2px solid #4b649d;
    cursor:pointer;
    margin-left: 20px;
}

.results{
    flex-direction: column;
    color:#fff;
    background-color: #092938
}

.results h2{
    text-transform: uppercase;
}

.results li{
    
    list-style: none;
    margin-left:50px;
    margin-top:15px;
    align-items: center;
    display: flex;
}

.results li strong{
    margin-right: 15px;
}